spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    show-sql: false

  flyway:
    validate-on-migrate: true

logging:
  level:
    com.vadovates.app: INFO
    org.springframework.web: WARN