spring:
  application:
    name: recipe-vault
  profiles:
    active: dev

  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080